{% extends 'base.html.twig' %}

{% block title %}Pokémart{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block furniture %}
    <section class="furniture_section">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Les peluches
                </h2>
                <p>
                    Des peluches toutes plus adoraaaaaaaaaaables les unes que les autres !
                </p>
            </div>
        </div>
    </section>
    <section class="slider_section long_section" style="background-color: white">
        <div class="container">
            <div class="detail-box">
                <div class="btn-box">
                    <a href="{{ path('plush_list') }}" class="{% if not app.request.query.get('option') %}btn1{% else %}btn2{% endif %}">Tout</a>
                    <a href="{{ path('plush_list', {'option': 'Generation1'}) }}" class="{% if app.request.query.get('option') == 'Generation1' %}btn1{% else %}btn2{% endif %}">Génération 1</a>
                    <a href="{{ path('plush_list', {'option': 'Generation2'}) }}" class="{% if app.request.query.get('option') == 'Generation2' %}btn1{% else %}btn2{% endif %}">Génération 2</a>
                    <a href="{{ path('plush_list', {'option': 'Generation3'}) }}" class="{% if app.request.query.get('option') == 'Generation3' %}btn1{% else %}btn2{% endif %}">Génération 3</a>
                    <a href="{{ path('plush_list', {'option': 'Generation4'}) }}" class="{% if app.request.query.get('option') == 'Generation4' %}btn1{% else %}btn2{% endif %}">Génération 4</a>
                </div>
            </div>
        </div>
    </section>
    <section class="furniture_section">
        <div class="container">
            <div class="row">
            {% for plush in plushies %}
                {% if not wantedGeneration or plush.collection == wantedGeneration %}
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="{{ asset('images/plushies/' ~ plush.id ~ '.png') }}" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                {{ plush.name }}
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>$</span> {{ plush.price }}
                                </h6>
                                <a href="{{ path('plush_show_route') ~ "/" ~ plush.id }}">
                                    Voir
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block about %}{% endblock %}
{% block blog %}{% endblock %}
{% block client %}{% endblock %}
{% block contact %}{% endblock %}
{% block info %}{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}