{%  extends 'base.html.twig' %}

{% block title %}{{ designated_plush.name }}{% endblock %}

{% block about %}
    <section class="about_section layout_padding long_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="{{ asset('images/plushies') ~ "/" ~ designated_plush.id ~ ".png"}}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                {{ designated_plush.name }}
                            </h2>
                        </div>
                        <p>Prix : {{ designated_plush.price }}</p>
                        <p>Taille : {{ designated_plush.height }}</p>
                        <p>Note : {{ designated_plush.note }}</p>
                        <a href="{{ path('plush_edit', {'id': designated_plush.id}) }}">
                            Modifier
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block blog %}
    <section class="blog_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Autres peluches qui pourraient vous intéresser
                </h2>
            </div>
            <div class="row">
            {% for plush in plushies %}
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box">
                        <div class="img-box">
                            <img src="{{ asset('images/plushies') ~ "/" ~ plush.id ~ ".png"}}" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                {{ plush.name }}
                            </h5>
                            <a href="{{ path('plush_show_route') ~ "/" ~ plush.id }}">
                                Découvrir
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}