{% extends 'base.html.twig' %}

{% block title %}Pokémart{% endblock %}

{% block slider %}
    <section class="slider_section long_section">
        <div class="container ">
            <div class="row">
                <div class="col-md-5">
                    <div class="detail-box">
                        <h1>
                            Section <br>
                            {% if admin == 'yes' %}
                            administrateur
                            {% else %}
                            membre
                            {% endif %}
                        </h1>
                        <p>
                            Connecté avec le compte : <span>{{ email }}</span>
                        </p>
                        <div class="btn-box">
                            <a href="{{ path('plush_new') }}" class="btn1">
                                Nouvelle peluche
                            </a>
                            <a href="{{ path('app_logout') }}" class="btn2">
                                Se deconnecter
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="img-box">
                        <img src="{{ asset('images/home/plushies.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block furniture %}
    <section class="furniture_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Votre collection de peluches
                </h2>
            </div>
            <div class="row">
                {% for plush in plushies %}
                    <div class="col-md-6 col-lg-4">
                        <div class="box">
                            <div class="img-box">
                                <img src="{{ asset('images/plushies/' ~ plush.id ~ '.png') }}" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    {{ plush.name }}
                                </h5>
                                <div class="price_box">
                                    <a href="{{ path('plush_edit', {'id': plush.id}) }}">
                                        Modifier
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if admin == 'yes' %}
        <div class="container mt-5">
            <div class="heading_container">
                <h2>
                    Toutes les peluches
                </h2>
            </div>
            <div class="row">
                {% for plush in all_plushies %}
                    <div class="col-md-6 col-lg-4">
                        <div class="box">
                            <div class="img-box">
                                <img src="{{ asset('images/plushies/' ~ plush.id ~ '.png') }}" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    {{ plush.name }}
                                </h5>
                                <div class="price_box">
                                    <a href="{{ path('plush_edit', {'id': plush.id}) }}">
                                        Modifier
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </section>
{% endblock %}