{% extends 'base.html.twig' %}

{% block title %}Pokémart{% endblock %}

{% block slider %}
    <section class="slider_section long_section">
        <div class="container ">
            <div class="row">
                <div class="col-md-5">
                    <div class="detail-box">
                        <h1>
                            Section <br>
                            membre
                        </h1>
                        <p>
                            Venez découvrir nos magnifiques peluches ! En plus, elles sont toutes douces.
                        </p>
                        <div class="btn-box">
                            <a href="{{ path('plush_new') }}" class="btn1">
                                Nouvelle peluche
                            </a>
                            <a href="{{ path('app_logout') }}" class="btn2">
                                Se deconnecter
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="img-box">
                        <img src="{{ asset('images/home/plushies.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block furniture %}
    <section class="furniture_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Votre collection de peluches
                </h2>
            </div>
            <div class="btn-group" role="group" aria-label="Plush Filters">
                <a href="{{ path('plush_list') }}" class="btn btn-secondary{% if not app.request.query.get('option') %} active{% endif %}">Tout</a>
                <a href="{{ path('plush_list', {'option': 'Generation1'}) }}" class="btn btn-secondary{% if app.request.query.get('option') == 'Generation1' %} active{% endif %}">Génération 1</a>
                <a href="{{ path('plush_list', {'option': 'Generation2'}) }}" class="btn btn-secondary{% if app.request.query.get('option') == 'Generation2' %} active{% endif %}">Génération 2</a>
                <a href="{{ path('plush_list', {'option': 'Generation3'}) }}" class="btn btn-secondary{% if app.request.query.get('option') == 'Generation3' %} active{% endif %}">Génération 3</a>
                <a href="{{ path('plush_list', {'option': 'Generation4'}) }}" class="btn btn-secondary{% if app.request.query.get('option') == 'Generation4' %} active{% endif %}">Génération 4</a>
            </div>
            <div class="row">
                {% for plush in plushies %}
                    {% if not wantedGeneration or plush.generation == wantedGeneration %}
                        <div class="col-md-6 col-lg-4">
                            <div class="box">
                                <div class="img-box">
                                    <img src="{{ asset('images/plushies/' ~ plush.id ~ '.png') }}" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        {{ plush.name }}
                                    </h5>
                                    <div class="price_box">
                                        <h6 class="price_heading">
                                            <span>$</span> {{ plush.price }}
                                        </h6>
                                        <a href="{{ path('plush_show_route') ~ "/" ~ plush.id }}">
                                            Acheter
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}