<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>{% block title %}Pokémart{% endblock %}</title>

  {% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" />
  <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
  <link href="{{ asset('css/responsive.css') }}" rel="stylesheet" />
  {% endblock %}
</head>

<body>
  {% block hero %}
  <div class="hero_area">
    {% block header %}
    <header class="header_section long_section px-0">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="{{ path('index_route') }}">
          <img src="{{ asset('images/pokemart.png') }}" alt="pokemart-gen4">
          <span>
            Pokémart
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="{{ path('index_route') }}">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('plush_list_route') }}">Peluches</a>
              </li>
              {% if is_granted('ROLE_USER') %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('member_area_index') }}">Espace personnel</a>
              </li>
              {% endif %}
              {% if app.user %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    {% endblock %}
    {% block slider %}{% endblock %}
  </div>
  {% endblock %}

  {% block furniture %}{% endblock %}

  {% block about %}{% endblock %}
  {% block blog %}{% endblock %}
  {% block client %}{% endblock %}
  {% block contact %}{% endblock %}
  {% block info %}{% endblock %}

  {% block copyrights %}
  <footer class="footer_section">
    <div class="container">
      <p>
        Ce site a été crée par : 1% Sckathach, 100% GPT
      </p>
    </div>
  </footer>
  {% endblock %}

  {% block scripts %}
  <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ asset('js/bootstrap.js') }}"></script>
  <script src="{{ asset('js/custom.js') }}"></script>
  {% endblock %}
</body>
</html>